@charset "utf-8";
/* SCSS Document */

$backgroundColor_body: #333;
$backgroundColor_tileBG: #666; //#ccc0b3;

$backgroundColor_grid: darken($backgroundColor_body, 10%); //#000000; //#bbada0;
$borderColor_grid: darken($backgroundColor_body, 15%); //#000000; //#bbada0;

$borderThickness: 7px;

$fontColor_tile: #fff; //#008F6B; //#fff;

//$tileSize: 100px;
$gridSize: 4;

$gameFont: "Helvetica";

body {
	margin: 0px;
	padding: 0px;
	border: none;
	background-color: $backgroundColor_body;
	background-image: url('lineoverlayw5.png');
	background-repeat: repeat;

}

div.header, div.footer {
	font-family: $gameFont;
	color: $fontColor_tile ;
	text-align: center;
	padding: 20px;
	margin-bottom: 50px;
	background-color: darken($backgroundColor_body, 10%);
	background-image: url('lineoverlayw5.png');
	background-repeat: repeat;
}
div.headerName {
	font-size: 5em;
	font-weight: bold;
}
div.headerSub {
	font-size: 1.5em;
}
div.headerSub2 {
	padding: 5px;
	font-size: 0.8em;
	color: $backgroundColor_tileBG;
	line-height: 1.5;
}
div.footer {
	color: $backgroundColor_tileBG;
	font-weight: normal;
	font-size: 0.8em;
	margin-top: 50px;
	margin-bottom: 0px;
}


div.gameArea {
	position: relative;

}
div.grid {
	position: relative;
	margin: 100px auto;
	background-color: $backgroundColor_grid;
	border: ($borderThickness) solid $borderColor_grid;
	//border-radius: 10px;
	z-index: 100;
}

@mixin tilesBasic {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: $backgroundColor_tileBG;
	background-image: url('hexpattern50w5.png');
	background-repeat: repeat;
	border: $borderThickness solid $borderColor_grid;
	//border-radius: 12px;
	box-sizing: border-box;
	display: table;
}

div.tile {
	@include tilesBasic;
	overflow: hidden;
	transform-origin: 50% 50%;
	transition: left 0.1s ease-in, top 0.1s ease-in; 
	z-index: 300;
}
div.tileBG {
	@include tilesBasic;
	z-index: 200;
}

div.tile > span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-family: $gameFont;
	font-weight: bold;
	font-size: 32px;
	color: $fontColor_tile;
	overflow: hidden;
	//text-shadow: 1px 1px 0px $borderColor_grid, -1px -1px 0px $borderColor_grid, 1px -1px 0px $borderColor_grid, -1px 1px 0px $borderColor_grid;
}

span.scoreKeeper {
	background-color: $backgroundColor_grid;
	position: absolute;
	right: - $borderThickness;
	bottom: 100%;
	margin-bottom: $borderThickness;
	padding: 10px;
	padding-bottom: 5px;
	font-family: $gameFont;
	font-size: 20px;
	color: $backgroundColor_tileBG;
	//border-radius: 5px;
	z-index: 150;
}

span.scoreKeeper > span {
	font-weight: bold;
	display: inline-block;
	transform-origin: bottom center;
	color: $fontColor_tile;
}

div.gameMessage {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px; //- $borderThickness;
	bottom: 0px;
	left: 0px; //- $borderThickness;
	right: 0px;
	background-color: rgba(0,0,0,0.85);
	//border: $borderThickness rgba(100%,0,0,0.8) solid;
	display: table;
	z-index: 1000;
	opacity: 0;
	transition: opacity 1s;
}
div.gameMessage > div {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-family: $gameFont;
	font-size: 50px;
	color: #fff;
}



@keyframes birthOfATile {
	0%		{ transform: scale(0.1); }
	100%	{ transform: scale(1); }
}


@keyframes powerUp {
	0%		{ transform: scale(1);  opacity: 1; }
	50%		{ transform: scale(1.15);  opacity: 0.5; }
	100%	{ transform: scale(1);   opacity: 1; }
}

@keyframes scoreUp {
	0% 		{ transform: translate(0px, 0px) scale(1); }
	50% 	{ transform: translate(0px, -5px) scale(1.2); }
	100% 	{ transform: translate(0px, 0px) scale(1); }

}


/*
@keyframes powerUpLeft {
	0%		{ transform: rotateY(0deg) scale(1); }
	10% 	{ transform: scale(1.3); }
	99%		{ transform: rotateY(-180deg) scale(1); }
	100%	{ transform: rotateY(0deg); }
}
@keyframes powerUpRight {
	0%		{ transform: rotateY(0deg) scale(1); }
	10% 	{ transform: scale(1.3); }
	99%		{ transform: rotateY(180deg) scale(1); }
	100%	{ transform: rotateY(0deg); }
}
@keyframes powerUpUp {
	0%		{ transform: rotateX(0deg) scale(1); }
	10% 	{ transform: scale(1.3); }
	99%		{ transform: rotateX(180deg) scale(1); }
	100%	{ transform: rotateX(0deg); }
}
@keyframes powerUpDown {
	0%		{ transform: rotateX(0deg) scale(1); }
	10% 	{ transform: scale(1.3); }
	99%		{ transform: rotateX(-180deg) scale(1); }
	100%	{ transform: rotateX(0deg); }
}*/

a {
	text-decoration: none;
	font-weight: bold;
	color: inherit;
	border-bottom: 1px dotted;
	&:hover {
		border-bottom-style: solid;
	}
}
