@charset "utf-8";
/* SCSS Document */

$backgroundColor_body: #333;
$backgroundColor_tileBG: #666; 

$backgroundColor_grid: darken($backgroundColor_body, 10%); 
$borderColor_grid: darken($backgroundColor_body, 15%); 

$borderThickness: 7px;

$fontColor_tile: #fff; 

$gridSize: 4;

$gameFont: "Helvetica";

body {
	margin: 0px;
	padding: 0px;
	border: none;
	background-color: $backgroundColor_body;
	background-image: url('lineoverlayw5.png');
	background-repeat: repeat;

}

div.header, div.footer {
	font-family: $gameFont;
	color: $fontColor_tile ;
	text-align: center;
	padding: 20px;
	margin-bottom: 50px;
	background-color: darken($backgroundColor_body, 10%);
	background-image: url('lineoverlayw5.png');
	background-repeat: repeat;
}
div.headerName {
	font-size: 5em;
	font-weight: bold;
}
div.headerSub {
	font-size: 1.5em;
}
div.headerSub2 {
	padding: 5px;
	font-size: 0.8em;
	color: $backgroundColor_tileBG;
	line-height: 1.5;
}
div.footer {
	color: $backgroundColor_tileBG;
	font-weight: normal;
	font-size: 0.8em;
	margin-top: 50px;
	margin-bottom: 0px;
}


div.gameArea {
	position: relative;

}
div.grid {
	position: relative;
	margin: 100px auto;
	background-color: $backgroundColor_grid;
	border: ($borderThickness) solid $borderColor_grid;
	z-index: 100;
}

@mixin tilesBasic {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: $backgroundColor_tileBG;
	background-image: url('hexpattern50w5.png');
	background-repeat: repeat;
	border: $borderThickness solid $borderColor_grid;
	box-sizing: border-box;
	display: table;
}

div.tile {
	@include tilesBasic;
	overflow: hidden;
	transform-origin: 50% 50%;
	transition: left 0.1s ease-in, top 0.1s ease-in; 
	z-index: 300;
}
div.tileBG {
	@include tilesBasic;
	z-index: 200;
}

div.tile > span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-family: $gameFont;
	font-weight: bold;
	font-size: 32px;
	color: $fontColor_tile;
	overflow: hidden;	
}

span.scoreKeeper {
	background-color: $backgroundColor_grid;
	position: absolute;
	right: - $borderThickness;
	bottom: 100%;
	margin-bottom: $borderThickness;
	padding: 10px;
	padding-bottom: 5px;
	font-family: $gameFont;
	font-size: 20px;
	color: $backgroundColor_tileBG;
	//border-radius: 5px;
	z-index: 150;
}

span.scoreKeeper > span {
	font-weight: bold;
	display: inline-block;
	transform-origin: bottom center;
	color: $fontColor_tile;
}

div.gameMessage {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px; 
	bottom: 0px;
	left: 0px; 
	right: 0px;
	background-color: rgba(0,0,0,0.85);
	display: table;
	z-index: 1000;
	opacity: 0;
	transition: opacity 1s;
}
div.gameMessage > div {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-family: $gameFont;
	font-size: 50px;
	color: #fff;
}



@keyframes birthOfATile {
	0%		{ transform: scale(0.1); }
	100%	{ transform: scale(1); }
}


@keyframes powerUp {
	0%		{ transform: scale(1);  opacity: 1; }
	50%		{ transform: scale(1.15);  opacity: 0.5; }
	100%	{ transform: scale(1);   opacity: 1; }
}

@keyframes scoreUp {
	0% 		{ transform: translate(0px, 0px) scale(1); }
	50% 	{ transform: translate(0px, -5px) scale(1.2); }
	100% 	{ transform: translate(0px, 0px) scale(1); }

}

a {
	text-decoration: none;
	font-weight: bold;
	color: inherit;
	border-bottom: 1px dotted;
	&:hover {
		border-bottom-style: solid;
	}
}

div.menuIcon {
	background-image: url(menuicon.png);
	background-repeat: no-repeat;
	height: 60px;
	width: 60px;
	position: fixed;
	top: 0px;
	right: 0px;
	margin-right: 10px;
	margin-top: 6px;
	opacity: 0.5;
	cursor: pointer;
	transition: opacity 0.5s;
	z-index: 5000;
	transform-origin: 50% 50%;	

}

div.sidePane {
	position: fixed;
	box-sizing: border-box;
	width: 500px;
	height: 100%;
	top: 0px;
	right: -500px;
	padding: 20px;
	font-family: $gameFont;
	font-size: 1em;
	color: #fff;
	border-left: 2px solid #000;
	transition: right 0.5s cubic-bezier(.1,.81,.46,1);
	background-color: rgba(0,0,0,0.95);
	z-index: 3000;
}

input {
	background-color: rgba(255, 255, 255, 1);
	border: 2px dotted #ccc;
	font-family: $gameFont;
}
input[type="button"] {
	background-color: #00291F;
	border: 2px dotted #333;
	transition: background-color 0.5s;
	cursor:pointer;
	color: #ccc;
	font-weight: bold;
	padding: 5px;
	&:hover {
		background-color: #007A5C;
		color: #fff;
	}
}